* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    position: sticky;
    background-color: black;
}

.nav_link {
    position: relative;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    margin: 0 20px;
    font-size: 20px;
    height: 50px;
    top: 8px;
    cursor: pointer;
}

.nav_link:hover {
    color: goldenrod;
}